.rkhfv { 
  padding-top: 63px;
  margin-top: 61px;
  border-left-width: 51px;
  font-size: 94px;
  margin-top: 71px;
  border-bottom-width: 92px;
  border-right-width: 39px;
  border-left-width: 45px;
  font-size: 83px;
}
